{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col">
  <form method="POST">
    {% csrf_token %}
    <h2>Login</h2>
    {{ form|crispy }}
    <p>
      <button type=submit class="btn btn-lg btn-primary btn-block">Sign in</button>
    </p>
  </form>
  </div>
  <div class="col">
    <h2>Social log in</h2>
      {% include "registration/_social.html" %}
    <h3>No accounts?</h3>
    <p>
      <a href="{% url "registration_register" %}" class="btn btn-lg btn-secondary">Register</a>
    </p>

</div>
{% endblock %}
