{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col"
  <h1>Games</h1>

  <h2>Join a game</h2>
  <ul>
  {% for game in game_list %}
    <li>
      <a href="{% url "game-detail" pk=game.pk %}">{{ game }}</a>
  {% endfor %}
  </ul>
  </div>
  <div class=col>
    <h2>Create a game</h2>
<form method="POST" action="{% url "game-create" %}">{% csrf_token %}
  <button type=submit class="btn btn-lg btn-primary btn-block">New game</button>
</form>
  </div>
</div>
{% endblock %}
