{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}

<h1>{{ game }}</h1>
{% if game.type == game.GameType.Done %}
  <p>This game is done...</p>
{% else %}
  <div id=game data-ws="/game/{{ game.pk }}" data-type="{{ game.type }}">
    En attente des joueurs.
  </div>
{% endif %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
{% if game.type == game.GameType.Open %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.3/fabric.min.js"></script>
  {% render_bundle 'main' %}
{% endif %}
{% endblock %}
